* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue";
    text-decoration: none;
}

.navbar-text-button {
    color: #001A57;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
}

.dropdown {
    position: relative;
}

.submenu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    
    z-index: 200;
    position: absolute;
    left: 0;
    top: 60px;
    width: 300px;
    height: auto;
    border: 1px solid #FFF;
    background: rgba(252, 252, 252, 0.95);
    box-shadow: 0px 4px 10px 0px rgba(119, 119, 119, 0.25);
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.submenu-element {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 8px;
    padding: 8px 0;
}

.submenu-element > a {
    padding-left: 16px;
    border-left: 1px solid #D9D9D9;
    background: rgba(255, 255, 255, 0.80);

    color: #1E1E1E;
    font-family: Roboto Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dropdown > #tottenham-text-button:hover + .submenu-container {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown > #rozgrywki-text-button:hover + .submenu-container {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.submenu-container.active {
    opacity: 1;
}

.submenu-list {
    list-style-image: none;
    padding: 16px 32px;
}

.navbar-text-button::after {
    content: '';
    height: 3px;
    width: 100%;
    background-color: #001A57;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    transition: 0.3s;
    pointer-events: none;
}

.navbar-text-button:hover::after,
.navbar-text-buutton:focus::after {
    content: '';
    height: 3px;
    width: 100%;
    background-color: #001A57;
    position: absolute;
    left: 0;
    bottom: -2px;
}

.logo {
    position: relative;
    top: 10%;
}

.links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border-bottom: 1px solid #FCFCFC;
    background: transparent;
    box-shadow: 0px 4px 10px 0px rgba(49, 49, 49, 0.25);
    backdrop-filter: blur(10px);
}

.navbar-content {
    height: auto;
    padding: 8px 70px;
}

.navbar-li {
    list-style: none;
}

.round-button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.navbar-image-button a {
    font-family: 'Roboto Condensed';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.yellow-button {
    background-color: #E5F410;
    border: none;
}

#yellow-button a {
    color: #001A57;
    font-size: 14px;
}

.navbar-image-buttons {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.navbar-text-buttons {
    display: flex;
    align-items: flex-start;
    gap: 5vh;
}

#register-button {
    border: 1px solid #FCFCFC;
    background-color: #001A57;
}

#register-button a {
    color: white;
    font-size: 14px;
}

header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.main-article-section {
    height: 100vh;
    background-color: #fff;
    background-size: 70%;
    background-position: top right;
    background-image: url(./assets/img/main-page-photo.png);
    background-repeat: no-repeat;
}

.gradient-overlay {
    height: 100%;
    width: 60%; 
    margin-left: 40%;
    background: linear-gradient(285deg, #001A57 17%, rgba(0, 26, 87, 0.00) 47.42%);
}

.main-article {
    width: 25%;
    height: 50%;
    position: absolute;
    top: 35%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5vh;
}

.main-article-title {
    width: 100%;
    background-color: #001A57;
    color: #FCFCFC;
    font-family: Bebas Neue;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 16px;
}

.main-article-info {
    color: #001A57;
    font-family: Roboto Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-article-preview {
    color: #001A57;
    font-family: Roboto Condensed;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-article-button {
    width: 30%;
}

.bolded-info {
    font-weight: 700;
}

.other-articles {   
    width: 70%;
    margin: 0px auto 0px;
    display: flex;
    padding: 36px 0px 18px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.articles-header {
    color: #001A57;
    font-family: Bebas Neue;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.articles-row {
    display: flex;
    flex-wrap: nowrap;
    height: 70vh;
    width: 100%;
    gap: 20px;
}

.large-article {
    border-radius: 15px 15px 0px 0px;
    background: url("./assets/img/article-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 50;
    position: relative;
}

.large-article-text {
    display: flex;
    width: 80%;
    padding: 24px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 17px;
    position: absolute;
    bottom: 0;
    right: 0;

    background: linear-gradient(315deg, #FFF 0%, rgba(255, 255, 255, 0.20) 100%);
    backdrop-filter: blur(10px);
}

.large-article-header {
    color: #001A57;
    text-align: right;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.large-article-summary {
    color: #1E1E1E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.large-article-metadata {
    color: #767676;
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.regular-article {
    flex-grow: 1;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px 15px 0px 0px;
    position: relative;
}

.regular-article-image {
    background: url("./assets/img/article-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    border-radius: 15px 15px 0px 0px;
}

.regular-article-text {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    height: 50%;
    margin: auto;
}

.regular-article-header {
    color: #001A57;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.regular-article-summary {
    color: #1E1E1E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.regular-article-metadata {
    color: #767676;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.comments-counter {
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(2px);
    width: fit-content;
    position: absolute;
    top: 10px;
    right: 10px;
}

.comments-count {
    color: #001A57;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.matches-section {
    height: 100vh;
}