* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue";
    text-decoration: none;
}

.navbar-text-button {
    color: #001A57;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo {
    position: relative;
    top: 10%;
}

.links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border-bottom: 1px solid #FCFCFC;
    background: transparent;
    box-shadow: 0px 4px 10px 0px rgba(49, 49, 49, 0.25);
    backdrop-filter: blur(10px);
}

.navbar-content {
    height: auto;
    padding: 8px 70px;
}

.navbar-li {
    list-style: none;
}

.round-button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.navbar-image-button a {
    font-family: 'Roboto Condensed';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.yellow-button {
    background-color: #E5F410;
    border: none;
}

#yellow-button a {
    color: #001A57;
    font-size: 14px;
}

.navbar-image-buttons {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.navbar-text-buttons {
    display: flex;
    align-items: flex-start;
    gap: 5vh;
}

#register-button {
    border: 1px solid #FCFCFC;
    background-color: #001A57;
}

#register-button a {
    color: white;
    font-size: 14px;
}

header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.main-article-section {
    height: 100vh;
    background-color: #fff;
    background-size: 70%;
    background-position: top right;
    background-image: url(./assets/img/main-page-photo.png);
    background-repeat: no-repeat;
}

.gradient-overlay {
    height: 100%;
    width: 60%; 
    margin-left: 40%;
    background: linear-gradient(285deg, #001A57 17%, rgba(0, 26, 87, 0.00) 47.42%);
}

.main-article {
    width: 25%;
    height: 50%;
    position: absolute;
    top: 35%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5vh;
}

.main-article-title {
    width: 100%;
    background-color: #001A57;
    color: #FCFCFC;
    font-family: Bebas Neue;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 16px;
}

.main-article-info {
    color: #001A57;
    font-family: Roboto Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-article-preview {
    color: #001A57;
    font-family: Roboto Condensed;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-article-button {
    width: 30%;
}

.bolded-info {
    font-weight: 700;
}

.other-articles {
    height: 100vh;
}